<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DingYaoERPService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DingYaoERPService.Properties.Settings>
            <setting name="DingYaoERPService_LZWZIP_LZWZIP" serializeAs="String">
                <value>http://demo.anytech.com.tw/AnytechWS/LZWZIP.asmx</value>
            </setting>
        </DingYaoERPService.Properties.Settings>
    </applicationSettings>
</configuration>